<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.techjays.chatlibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />


    <application
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Forcefield"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".preview.LibImagePreviewActivity"
            android:exported="false" />
        <activity
            android:name=".preview.LibVideoPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".chat.LibChatActivity"
            android:exported="true" />
        <activity
            android:name=".chatlist.LibChatListActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".chat.VideoPlayerExoplayerActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
    </application>

</manifest>