<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.techjays.chatlibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:networkSecurityConfig="@xml/network_config">
        <activity
            android:name=".chat.LibChatActivity"
            android:theme="@style/Theme.Vidhire_android"
            android:exported="true" />
        <activity
            android:name=".LibChatListActivity"
            android:theme="@style/Theme.Vidhire_android"
            android:exported="true" />
    </application>

</manifest>